<!DOCTYPE html>
<html>
<head>
	<title><%= magasin %></title>
	
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">

	<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.core.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	
	$("document").ready(function() {
		var socket = io.connect();

				var socketName = "<%= url_longue %><%= magasin %><%= caisse %>" ;
				socket.emit("enregistrer",socketName);

				socket.on("affiche_ticket",function(ticket){
					
					$("#client").html(ticket.client);
					$("ul#liste").empty();
					_.map(ticket.articles,function(art){
						$("ul#liste").append("<li>"+art.article+"</li>")
					})

				})

				socket.on("reconnect",function(){
					socket.emit("enregistrer",socketName);
				})

		})
	</script>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<h4>Magasin: <%= magasin %>  - Bienvenue sur la caisse <%= caisse %></p></h4>
			</div>
		</div>

		<div class="row">

			<div id="pub" class="col-md-8 col-xs-8">
				<div>
					<img class="img-responsive" src='http://localhost:3030/uploads/<%= magasin %>/<%= caisse %>/pub_<%= caisse %>.jpg' />	
				</div>
			</div>

			<div class="col-md-4 col-xs-4 pre-scrollable" >

				<div id="ticket">
					<div id="logo"><img src='http://localhost:3030/uploads/<%= magasin %>/<%= caisse %>/logo_<%= caisse %>.jpg'></div>	
					<div id="client" ></div>
					<ul id="liste">		
					</ul>
				</div>
			</div>

		</div>
		
		<div class="row">
			<div class="col-md-8 col-xs-8">
				<span id="kerawen">KERAWEN.COM &copy </span>
			</div>
			<div class="col-md-4 col-xs-4" style="background-color:silver">
				<span id="total">TOTAL : </span><span id="total">0.00</span>
			</div>
		</div>
	</div>
</body>
</html>
